/* default browser reset code */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* MTY CODE STARTS HERE */
*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
/* FIXING FOOTER TO THE BOTTOM STARTS HERE */
html, body{
    height: 100%;
}
body {
    padding-top: 110px; /* Same height as the header to prevent overlap */
}
main{
    min-height: 100%;
}
footer{
    background-color: #3c896d;
    position: relative;
    margin-top: 10px;
    clear: both;
}
/* ENDS HERE */
/* HEADER STARTS HERE */
header {
    background-color: white;
    width: 100%;
    height: 110px;
    border-bottom: 1px black solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Keeps the header above other content */
    justify-content: space-between;
    align-items: center; /* Vertically center the elements */
    /*box-sizing: border-box;  Ensure padding/border does not increase header size */
}

.logo {
    margin: 5px 15px;
    float: left;
    width: 90px;
    height: 90px;
}

.ul-left {
    margin-left: 20px;
    float: left;
}

.ul-left li {
    float: left;
    padding: 28px 18px;
    position: relative;
}

.ul-left li a {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 500;
    color: black;
    word-spacing: 7px;
}

.ul-left li a:hover {
    color: #3c896d;
    text-decoration: underline;
}

.dropdown {
    width: 220px;
    display: none; /* Hide by default */
    position: absolute;
    background-color: white;
    border-radius: 6px;
    top: 100%;
}

.dropdown li a:hover {
    background-color: #fafafa;
    color: #3c896d;
    text-decoration: underline;
}


.arrowdown {
    transition: transform 0.3s ease;
}

.arrow-up {
    transform: rotate(180deg); /* Rotate the arrow */
}

/* Dropdown visibility when shown */
.show {
    display: block;
}

.ul-right {
    float: left;
    position: absolute;
    right: 0px;
}

.ul-right li {
    float: left;
    padding: 40px 10px;
}

.ul-right li a {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.ul-right li a:hover {
    color: #3c896d;
    text-decoration: underline;
}

/* HEADER ENDS HERE */
/* MAIN STARTS HERE */
.banner{
    width: 100%;
    height: 530px;
    background-position: center;
    animation: slideEffect 40s infinite linear;
    background-image: url('img/banner.png');
}
.banner p{
    padding: 40px;
    font-size: 50px;
    font-family: "Lora";;
    color: white;
    position: absolute;
    top: 400px;
    font-weight: 700;
}
.banner span{
    padding: 40px;
    font-size: 25px;
    font-family: "Lora";;
    color: white;
    position: absolute;
    top: 500px;
}
.banner img{
    margin-left: 410px;
    font-size: 22px;
    font-family: "Lora";;
    color: white;
    position: absolute;
    top: 547px;
}
.banner a{
    margin-left: 450px;
    border: white 2px solid;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Lora";;
    color: white;
    position: absolute;
    top: 530px;
}
.banner a:hover{
    transform: scale(1.04);
    color: black;
    border-color: black;
}
@keyframes slideEffect {
    0% { background-image: url('img/banner.png'); }
    25% { background-image: url('img/banner2.png'); }
    50% { background-image: url('img/banner3.png'); }
    75% { background-image: url('img/banner4.png'); }
    100% { background-image: url('img/banner.png'); }
}

.mainwrapper{
    margin: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
}
.row1{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.box1{
    border-radius: 10px;
    margin-right: 50px;
    height: 664px;
    width: 100%;
    background-image: url(img/index1.png);
    background-position: center;
}
.row2{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.box2{
    border-radius: 10px;
    margin-right: 50px;
    height: 664px;
    width: 100%;
    background-image: url(img/index2.png);
    background-position: center;
}
.indexright{
    margin: auto 0;
}
.indexright p{
    padding: 20px;
    font-size: 18px;
    font-family: "Lora";
    line-height: 40px;
    font-weight: 500;
    width: 90%;
}
.indexleft{
    margin: auto 0;
}
.indexleft p{
    padding: 20px;
    font-size: 18px;
    font-family: "Lora";
    line-height: 40px;
    font-weight: 500;
}
.indexright h1{
    padding: 20px;
    font-size: 40px;
    font-family: "Lora";
    font-weight: 700;
}
.indexright h2{
    padding: 20px 20px 0px 20px;
    font-size: 20px;
    font-family: "Lora";
    font-weight: 600;
}
.indexleft h1{
    padding: 20px;
    font-size: 40px;
    font-family: "Lora";
    font-weight: 700;
}
.indexright a{
    color: #3c896d;
}
.indexleft a{
    font-size: 20px;
    margin-left: 20px;
    color: #3c896d;
}

.indexright-a:hover{
    text-decoration: underline;
}

.indexbotton {
    line-height: 90px;
    border-radius: 20px;
    padding: 13px;
    border: 2px #3c896d solid;
    color: #3c896d;
}
.indexbotton:hover {
    padding: 14px;
}
.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}
.r3box1{
    margin: auto 0;
    margin-left: 40px;
    font-family: "Lora";
    font-size: 18px;
    height: 300px;
    width: 100%;
    line-height: 28px;
}
.r3box1 h1{
    padding: 20px 10px;
    font-size: 40px;
    font-family: "Lora";
    font-weight: 700;
}
.r3box1 p{
    padding: 20px 10px;
    font-size: 19px;
    font-family: "Lora";
    font-weight: 400;
}
.r3box1 a{
    margin-left: 15px;
    line-height: 90px;
    border-radius: 20px;
    padding: 13px;
    border: 2px #3c896d solid;
    color: #3c896d;
}
.r3box2{
    color: white;
    text-shadow: 3px 3px 4px black;
    filter: brightness(0.8);
    border-radius: 12px;
    margin: 10px;
    height: 300px;
    width: 100%;
    background-image:url(img/hospitalabuja.jpg);
    background-size: cover;
    background-position: center;
}
.r3box2 h2{
    margin-bottom: 20px;
    font-family: "Lora";
    font-weight: 700;
    font-size: 22px;
    padding: 20px;
    position: absolute;
    bottom: 30px;
}
.r3box2 p{
    font-family: "Lora";
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: 20px;
}
.r3box2:hover{
    filter: brightness(1.0);
}
.r3box3{
    text-shadow: 3px 3px 4px black;
    font-family: "Lora";
    font-weight: 500;
    color: white;
    filter: brightness(0.8);
    border-radius: 12px;
    margin: 10px;
    height: 300px;
    width: 100%;
    background-image: url(img/hospitallagos.png);
    background-size: cover;
    background-position: center;
}
.r3box3 h2{
    margin-bottom: 20px;
    font-family: "Lora";
    font-weight: 700;
    font-size: 22px;
    padding: 20px;
    position: absolute;
    bottom: 30px;
}
.r3box3 p{
    font-family: "Lora";
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: 20px;
}
.r3box3:hover{
    filter: brightness(1.0);
}
.row4{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.r4box1{
    margin: 30px;
    width: 33%;
}
.r4box1 h1{
    padding: 10px;
    font-size: 40px;
    font-family: "Lora";
    font-weight: 700;
}
.r4box1 p{
    line-height: 30px;
    padding: 10px;
    font-size: 19px;
    font-family: "Lora";
    font-weight: 500;
}
.r4box2{
    width: 33%;
    margin: 30px;
}
.r4box2 a{
    color: #4fb286;
}
.r4box3 a{
    color: #4fb286;
}
.r4box2 a:hover{
    text-decoration: underline;
}
.r4box3 a:hover{
    text-decoration: underline;
}
.r4box2 li{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    color: #4fb286;
    list-style: none;
    line-height: 30px;
    padding: 10px;
    font-size: 19px;
    font-family: "Lora";
    font-weight: 500;
}
.r4box3 li{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    color: #4fb286;
    list-style: none;
    line-height: 30px;
    padding: 10px;
    font-size: 19px;
    font-family: "Lora";
    font-weight: 500;
}
.r4box3{
    width: 33%;
    margin: 30px;
}
.lastdiv{
    margin-bottom: -10px;
    padding: 60px 0px 100px 120px;
    background-color: #093c25;
    color: white;
}
.lastdiv img{
    float: left;
}
.lastdiv h1{
    line-height: 50px;
    padding-left: 130px;
    font-size: 40px;
    font-family: "Lora";
    font-weight: 600;
    width: 70%;
}
.lastdiv span{
    line-height: 30px;
    font-size: 20px;
    font-family: "Lora";
    font-weight: 500;
    float: left;
    width: 80%;
}
.lastdiv a{
    margin-left: 150px;
    font-family: "Lora";
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    padding: 10px 50px;
    color: white;
    background-color: #4fb286;
}
.lastdiv a:hover{
    background-color: #3c896d;
}
 /* MAIN ENDS HERE */
/* FOOTERE STARTS HERE */
.footer_wrapper{
    padding: 20px 50px 0px 70px;
}
.footer1{
    margin-bottom: 250px;
    height: 1000px;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.topic{
    font-weight: 900;
    font-size: 18px;
    color: white;
    font-family: "Lora";
}
.column1{
    line-height: 40px;
    font-size: 13px;
    font-family: "Open Sans";
}
.column1 ul li{
    list-style: none;
}
.column1 a{
    color: white;
}
.column1 a:hover{
    color: #4fb286;
    text-decoration: underline;
}
.column2{
        line-height: 40px;
        font-size: 13px;
        font-family: "Open Sans";
}
.column2 a{
    color: white;
    list-style: none;
}
.column2 ul li{
    list-style: none;
}
.column2 a:hover{
    color: #4fb286;
    text-decoration: underline;
}
.column3{
    width: fit-content;
    line-height: 40px;
    font-size: 13px;
    font-family: "Open Sans";
}
.column3 a{
color: white;
list-style: none;
}
.column3 ul li{
    list-style: none;
}
.column3 a:hover{
    color: #4fb286;
    text-decoration: underline;
}
.finddoctor{
    padding-right: 80px;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
}
.finddoctor:hover{
    border-color: #4fb286;
}
.steth{
    margin: 14px 0px 0px 20px;
}
.finddoctor p{
    margin: 6px 10px 0px 15px;
    float: right;
    font-family:"Open Sans";
    font-size: 13px;
    color: white;
}
.arrow{
    padding-top: 20px;
    position: absolute;
    right: 240px;
}
.newsletter{
    padding-right: 72px;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
}
.newsletter:hover{
    border-color: #4fb286;
}
.mail{
    margin: 14px 0px 0px 20px;
}
.newsletter p{
    margin: 6px 10px 0px 15px;
    float: right;
    font-family:"Open Sans";
    font-size: 13px;
    color: white;
    line-height: 22px;
}
.footer2{
    margin-left: 40px;
    width: 77%;
    border-top: 1.7px solid;
    border-color: #4fb286;
    position: absolute;
    top: 690px;
}
.footer2 p{
    line-height: 40px;
    font-weight: 900;
    font-size: 18px;
    color: white;
    font-family: "Lora";
    margin-left: 6px;
}
.footer2 img{
    padding: 10px;
    border: 2px solid;
    border-color: white;
}
.c1r3 img{
    border: 0px;
    border-radius: 22px;
    width: 120px;
    height: 40px;
}
.c1r3 img:hover{
    border: 0px;
    border-radius: 22px;
    transform: scale(1.1);
}
.socialicon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.socialicon img{
    width: 20px;
    height: 20px;
}
.socialicon a img:hover{
    border-color: #4fb286;
    transform: scale(1.3);
}
.aquacolor{
    padding: 0px 50px 0px 70px;
    background-color: #e1f0ff;
    height: 200px;
}
.tandc{
    padding-top: 45px;
    margin: -380px 0px 0px 40px;
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans";
}
.tandc p:hover{
    color: #3c896d;
    text-decoration: underline;
}
.tandc p{
    color: #0c0928;
}
.allright{
    margin: 30px 0px 0px 40px;
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #0c0928;
}
.lang{
    margin-left: 390px;
}
/* FOOTER ENDS HERE */