body {
    font-family: "Lora";
}
.logo{
    margin-top: 25px;
    width: 90px;
    height: 90px;
}
.wrapper {
    border: 1.5px solid rgb(143, 138, 138);
    border-radius: 8px;
    width: 50%;
    height: 100%;
    padding: 40px 20px;
}
.label {
    font-weight: bold;
    margin-right:325px;
    line-height: 30px;
    font-family: "Lora";
    font-size: 18px;
}
.confirm {
    font-weight: bold;
    margin-right:250px;
    line-height: 40px;
    font-family: "Lora";
    font-size: 18px;
}
.input {
    height: 38px;
    width: 400px;
    padding-left: 6px;
    border: 1.5px solid ;
    border-radius: 5px;
}
.sbutton {
    padding: 6px 10px;
    border: 1.5px solid silver;
    border-radius: 12px;
    color: white;
    font-family: "Lora";
    font-size: 16px;
    font-weight: bold;
    background-color: #3c896d ;
}
.sbutton:hover{
    transform: scale(1.01);
    background-color: #4fb286;
}